<footer
  class="bg-gray-200/85 dark:bg-gray-900/95 py-10 transition-colors duration-300 border-t border-gray-300 dark:border-gray-600"
>
  <div class="w-11/12 mx-auto space-y-6">
    <h2 class="m-0 text-2xl text-gray-800 dark:text-gray-100">
      Get The FreshCart App
    </h2>
    <p class="text-gray-500 dark:text-gray-400 text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="flex items-center gap-3 text-nowrap">
      <input
        type="text"
        class="w-full rounded-lg border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-100 dark:placeholder-gray-400"
        placeholder="Email"
      />
      <button class="btn-main">Share App Link</button>
    </div>

    <hr class="border-gray-300 dark:border-gray-600" />

    <div
      class="pay-details flex flex-col md:flex-row justify-between items-center gap-6 my-5"
    >
      <div class="flex flex-wrap items-center gap-4">
        <h3 class="text-sm m-0 text-gray-800 dark:text-gray-100">
          Payment partners
        </h3>
        <div class="flex flex-wrap gap-4">
          <img
            src="/images/amazon-pay.png"
            width="50"
            alt="Amazon Pay"
            class="rounded"
          />
          <img
            src="/images/American-Express-Color.png"
            width="50"
            alt="American Express"
            class="rounded"
          />
          <img
            src="/images/paypal.png"
            width="50"
            alt="PayPal"
            class="rounded"
          />
          <img
            src="/images/mastercard.webp"
            width="50"
            alt="Mastercard"
            class="rounded"
          />
        </div>
      </div>

      <div class="flex flex-wrap items-center gap-4">
        <h3 class="h6 m-0 text-gray-800 dark:text-gray-100">
          Get Deliveries with FreshCart
        </h3>
        <div class="flex gap-4">
          <img
            src="/images/get-google-play.png"
            width="100"
            alt="Get it on Google Play"
            class="rounded"
          />
          <img
            src="/images/get-apple-store.png"
            width="100"
            alt="Download on App Store"
            class="rounded"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
